target/

!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Logs ###
*.log

### Temp ###
temp/
tmp/
uploads/

### Env ###
.env
application-local.properties

### OS ###
.DS_Store
Thumbs.db